.page_competence {
    position: relative;
    padding-top: 20px;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.page_competence h1 {
    font-size: 5em;
    font-weight: 100;
    margin-top: 3%;

}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.skill-link {
    margin: 0 15%;
    padding: 2% 5%;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    outline: 1px solid #fff;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-link:hover {
    outline: 1px solid #6EC1E4;
    color: #6EC1E4;
}
