.page_projet {
    position: relative;
    padding-top: 20px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.page_projet h1 {
    font-size: 4vw;
    font-weight: 100;
    margin-top: 3%;

}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 5em;
   
}

.image_projet {
    flex: 1;
    position: relative;
    outline: 1px solid rgb(110, 193, 228, 0.75);
    border-radius: 20px;
}

.image_projet img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.description_projet {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
}

.description_projet .title, .description_projet .title_reverse {
    font-size: 2.5vw;
    margin-bottom: 1.5vw;
    color: #6EC1E4;
}

.description_projet p {
    font-size: 1vw;
    margin-bottom: 1em;
}


.synopsis_projet {
    font-size: 1vw !important;
    flex: 1;
    padding: 20px;
    background-color: rgba(209, 209, 209, 0.9);
    color: #000;
    border-radius: 10px;
    margin-left: -20%;
    z-index: 1;
    
}

.synopsis_projet_reverse {
    font-size: 1vw !important;
    flex: 1;
    padding: 20px;
    background-color: rgba(209, 209, 209, 0.9);
    color: #000;
    border-radius: 10px;
    z-index: 1;
    margin-right: -20%;
}

.groupe_perso, .techno_projet, .description_projet .title{
    margin-left: -5%;
    text-align: right;
}

.techno_projet i {
    font-size: 2em;
    margin-left: 20px;
    color: #6EC1E4;
}

.techno_projet_reverse i {
    font-size: 2em;
    margin-right: 20px;
    color: #6EC1E4;
}

.groupe_perso_reverse, .techno_projet_reverse, .description_projet .title_reverse{
    margin-right: -5%;
    text-align: left;
}
